////
/// MAIN component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components
/// @name .#{$wf__ns}main
/// @since version 1.0.0
////
.#{$ns}main {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: rem(40) 0;
  margin: 0;

  &__alerts {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-right: rem(15);
    margin-left: rem(15);
  }

  &__events-table {
    width: 100%;
    height: rem(400);
  }

  &__icon {
    position: relative;
    bottom: rem(2);
    padding-left: rem(15);
    padding-right: rem(15);
  }

  &__title {
    display: flex;
    width: 100%;
    background-color: #4366a6;
    justify-content: left;
    align-items: center;
    height: rem(50);
    border-top-right-radius: rem(6);
    border-top-left-radius: rem(6);
    //css maqueta
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  &__notifications {
    width: 100%;
    // margin-right: rem(15);
  }

  &__notifications-table {
    width: 100%;
    height: rem(400);
  }

  &__title {
    width: 100%;
    background-color: #4366a6;
    text-align: center;
  }
  &__menu {
    display: inline-flex !important;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__mails-table {
    width: 100%;
    height: rem(532);
  }

  &__projects-table {
    width: 100%;
    height: rem(495);
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: rem(15);
    margin-left: rem(15);
    // &--social{
    //     display: 
    // }
  }

  &__social-table {
    width: 100%;
    height: rem(500);
  }
}
