////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {
  background: linear-gradient(to right, #4579b0, #207e8e, #859603);
  display: flex;
  width: 100%;
  height: rem(75);
  align-items: center;
  &__logo {
    display: flex;
    width: 15%;
    justify-content: center;
    color: color(white);
  }

  &__form {
    border-radius: 4px;
    width: 40%;
    background-color: color(white);
    font-size: 0;

    &-legend {
      position: absolute;
      left: -9999px;
    }

    &-label {
      position: absolute;
      left: -9999px;
    }

    &-input {
      font-size: 14px;
      padding-left: rem(10);
      background-color: transparent;
      border: none;
      width: calc(100% - 40px);
      height: rem(40);
    }

    &-button {
      font-size: 14px;
      background: none;
      border: none;
      color: #cdcccd;
      width: rem(40);
      height: rem(40);
      cursor: pointer;
    }
  }

  &__nav {
    width: 30%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    &-list {
      display: flex;
      width: 80%;
      justify-content: space-between;
      color: white;
      font-size: rem(25);
    }
    li:hover {
      cursor: pointer;
    }
  }

  &__profile {
    width: 15%;
    justify-content: center;
    a {
      color: white;
      font-size: rem(20);
    }
  }

  &__figure {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img:nth-child(1) {
      width: rem(25);
      height: rem(25);
    }
    img:nth-child(2) {
      width: rem(35);
      height: rem(35);
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &__form {
      border-radius: 4px;
      width: 30%;
      background-color: color(white);
    }

    &__nav {
      display: inline-flex;
      width: 40%;
      padding-left: 5%;
      justify-content: space-between;
    }
  }
}
