<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/front-modules.css" />
    <!-- <script type="text/javascript" src="../libs/dependencies.js"></script> -->
    <script type="text/javascript" src="../js/front.js"></script>
    <script src="https://kit.fontawesome.com/0fa03c8d39.js"></script>
    <title>Pagina DFRONT</title>
  </head>

  <body>
    <!-- HEADER -->
    <header class="ns-header">
      <div class="ns-header__logo">
        <span class="ns-header__logo-txt">everis<strong>knowler</strong></span>
        <!--revisar-->
      </div>
      <!-- Iconos -->
      <form class="ns-header__form">
        <fieldset>
          <legend class="ns-header__form-legend">Buscador</legend>
          <label class="ns-header__form-label" for="name">Search</label>
          <input
            class="ns-header__form-input"
            name="search"
            id="search"
            type="text"
            placeholder="proyecto skm"
          />
          <button class="ns-header__form-button">
            <i class="fas fa-search"></i>
          </button>
        </fieldset>
      </form>
      <nav class="ns-header__nav">
        <ul class="ns-header__nav-list">
          <li class="ns-header__nav-item">
            <div class="ns-thumb">
              <i class="ns-thumb__icon fas fa-house-damage"></i>
              <p class="ns-thumb__txt">Inicio</p>
            </div>
          </li>
          <li class="ns-header__nav-item">
            <div class="ns-thumb">
              <i class="ns-thumb__icon fas fa-th"></i>
              <p class="ns-thumb__txt">Aplicaciones</p>
            </div>
          </li>
          <li class="ns-header__nav-item">
            <div class="ns-thumb">
              <i class="ns-thumb__icon fas fa-globe"></i>
              <p class="ns-thumb__txt">Comunidades</p>
            </div>
          </li>
        </ul>
        <figure class="ns-thumb__image">
          <img src="../assets/images/everis.png" />
          <p>everPedia</p>
        </figure>
      </nav>
      <div class="ns-header__profile">
        <!-- Notificaciones y usuario -->
        <figure class="ns-header__figure figure">
          <img class="figure__bell" src="../assets/images/bell.png" />
          <img class="figure__avatar" src="../assets/images/perfil.png" />
        </figure>
      </div>
    </header>
    <!-- MAIN -->
    <main class="ns-main">
      <!--ALERTS-->
      <div class="ns-main__alerts">
        <!--EVENTOS-->
        <div class="ns-main__events">
          <div class="ns-main__title">
            <i class="fas fa-calendar-alt ns-main__icon"></i>
            <p class="ns-main__pharagrap">EVENTOS</p>
            <i class="fas fa-ellipsis-v ns-main__menu"></i>
          </div>
          <div class="ns-main__events-table">
            <span class="ns-main__events-table-day">HOY</span>
            <div class="ns-main__events-table-event">
              <div class="ns-main__event">
                <div class="ns-main__event-time">11:00</div>
                <p class="ns-main__event-name">SKM Wireframes checkpoint</p>
                <p class="ns-main__event-room">11:00 a 12:00 - Sala 446</p>
              </div>
              <div class="ns-main__event">
                <div class="ns-main__event-time">13:00</div>
                <p class="ns-main__event-name">SKM chill out</p>
                <p class="ns-main__event-room">13:00 a 13:40 - Sala 446</p>
              </div>
            </div>
            <span class="ns-main__events-table-day">MAÑANA</span>
            <div class="ns-main__events-table-event">
              <div class="ns-main__event">
                <div class="ns-main__event-time">11:00</div>
                <p class="ns-main__event-name">SKM Wireframes check</p>
                <p class="ns-main__event-room">11:00 a 12:00 - Sala 446</p>
              </div>
            </div>
          </div>
        </div>
        <!--NOTIFICACIONES-->
        <div class="ns-main__notifications">
          <div class="ns-main__title">
            <i class="fas fa-bell ns-main__icon"></i>
            <p class="ns-main__pharagrap">NOTIFICACIONES</p>
            <i class="fas fa-ellipsis-v ns-main__menu"></i>
          </div>
          <div class="ns-main__notifications-table"></div>
        </div>
      </div>
      <!--INFORMATION-->
      <div class="ns-main__information">
        <!--MAILS-->
        <div class="ns-main__mails">
          <div class="ns-main__title">
            <i class="fas fa-envelope-open-text ns-main__icon"></i>
            <p class="ns-main__pharagrap">EMAILS</p>
            <i class="fas fa-ellipsis-v ns-main__menu"></i>
          </div>
          <div class="ns-main__mails-table"></div>
        </div>
        <!--PROJECTS-->
        <div class="ns-main__projects">
          <div class="ns-main__title">
            <i class="fas fa-folder-open ns-main__icon"></i>
            <p class="ns-main__pharagrap">PROYECTOS</p>
            <i class="fas fa-ellipsis-v ns-main__menu"></i>
          </div>
          <div class="ns-main__projects-table"></div>
        </div>
      </div>
      <!--SOCIAL-->
      <div class="ns-main__social">
        <div class="ns-main__title">
          <i class="fas fa-user-friends ns-main__icon"></i>
          <p class="ns-main__pharagrap--social">MIS CONTACTOS</p>
          <i class="fas fa-ellipsis-v ns-main__menu"></i>
        </div>
        <div class="ns-main__social-table"></div>
      </div>
    </main>
  </body>
</html>
