<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/front-modules.css" />
    <!-- <script type="text/javascript" src="../libs/dependencies.js"></script> -->
    <script type="text/javascript" src="../js/front.js"></script>
    <title>Pagina DFRONT</title>
  </head>

  <body>
    <header class="ns-header">
      <figure class="ns-header__figure ns-figure">
        <img class="ns-figure__img" />
      </figure>
      <form class="ns-header">
        <input />
        <button></button>
      </form>
      <div>
        <!-- Iconos -->
      </div>
      <di>
        <!-- Notificaciones y usuario -->
      </di>
    </header>
    <main class="ns-main"></main>
  </body>
</html>
