<section class="ns-box" id="alerts">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Alerts</h2>
    </header>
    <div>
        <div class="grid">
            <div class="col-6">
                <article>
                    <header class="ns-box__container">
                        <h3 class="o-title o-title--h5">Normal</h3>
                    </header>
                    <div class="ns-box__container">
                        <p class="o-alert o-alert--default">A simple default alert—check it out!
                        </p>
                        <p class="o-alert o-alert--primary">A simple primary alert—check it out!
                        </p>
                        <p class="o-alert o-alert--success">A simple success alert—check it out!
                        </p>
                        <p class="o-alert o-alert--danger">A simple danger alert—check it out!
                        </p>
                        <p class="o-alert o-alert--warning">A simple warning alert—check it out!
                        </p>
                        <p class="o-alert o-alert--info">A simple info alert—check it out!</p>
                        <p class="o-alert o-alert--darken">A simple darken alert—check it out!
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-6">
                <article>
                    <header class="ns-box__container">
                        <h3 class="o-title o-title--h5">Close</h3>
                    </header>
                    <div class="ns-box__container">
                        <p class="o-alert o-alert--default o-alert--close">A simple default alert—check
                            it out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--primary o-alert--close">A simple primary alert—check
                            it out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--success o-alert--close">A simple success alert—check
                            it out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--danger o-alert--close">A simple danger alert—check it
                            out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--warning o-alert--close">A simple warning alert—check
                            it out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--info o-alert--close">A simple info alert—check it
                            out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                        <p class="o-alert o-alert--darken o-alert--close">A simple darken alert—check it
                            out!
                            <button class="o-alert__close">
                                <span>&times;</span>
                            </button>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>