<section class="ns-box" id="button">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Buttons</h2>
    </header>
    <div class="ns-box__container">
        <div class="grid">
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Normal</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default" type="button">Default</button>
                        <button class="o-btn o-btn--primary" type="button">Primary</button>
                        <button class="o-btn o-btn--success" type="button">Success</button>
                        <button class="o-btn o-btn--danger" type="button">Danger</button>
                        <button class="o-btn o-btn--warning" type="button">Warning</button>
                        <button class="o-btn o-btn--info" type="button">Info</button>
                        <button class="o-btn o-btn--darken" type="button">Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Disabled</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default" type="button" disabled>Default</button>
                        <button class="o-btn o-btn--primary" type="button" disabled>Primary</button>
                        <button class="o-btn o-btn--success" type="button" disabled>Success</button>
                        <button class="o-btn o-btn--danger" type="button" disabled>Danger</button>
                        <button class="o-btn o-btn--warning" type="button" disabled>Warning</button>
                        <button class="o-btn o-btn--info" type="button" disabled>Info</button>
                        <button class="o-btn o-btn--darken" type="button" disabled>Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Big</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default o-btn--lg" type="button">Default</button>
                        <button class="o-btn o-btn--primary o-btn--lg" type="button">Primary</button>
                        <button class="o-btn o-btn--success o-btn--lg" type="button">Success</button>
                        <button class="o-btn o-btn--danger o-btn--lg" type="button">Danger</button>
                        <button class="o-btn o-btn--warning o-btn--lg" type="button">Warning</button>
                        <button class="o-btn o-btn--info o-btn--lg" type="button">Info</button>
                        <button class="o-btn o-btn--darken o-btn--lg" type="button">Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Small</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default o-btn--sm" type="button">Default</button>
                        <button class="o-btn o-btn--primary o-btn--sm" type="button">Primary</button>
                        <button class="o-btn o-btn--success o-btn--sm" type="button">Success</button>
                        <button class="o-btn o-btn--danger o-btn--sm" type="button">Danger</button>
                        <button class="o-btn o-btn--warning o-btn--sm" type="button">Warning</button>
                        <button class="o-btn o-btn--info o-btn--sm" type="button">Info</button>
                        <button class="o-btn o-btn--darken o-btn--sm" type="button">Darken</button>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Extra Small</h3>
                    </header>
                    <div>
                        <button class="o-btn o-btn--default o-btn--xs" type="button">Default</button>
                        <button class="o-btn o-btn--primary o-btn--xs" type="button">Primary</button>
                        <button class="o-btn o-btn--success o-btn--xs" type="button">Success</button>
                        <button class="o-btn o-btn--danger o-btn--xs" type="button">Danger</button>
                        <button class="o-btn o-btn--warning o-btn--xs" type="button">Warning</button>
                        <button class="o-btn o-btn--info o-btn--xs" type="button">Info</button>
                        <button class="o-btn o-btn--darken o-btn--xs" type="button">Darken</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>