<section class="ns-box" id="checkbox">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Checkbox</h2>
    </header>
    <div class="ns-box__container">
        <div class="grid">
            <div class="col-3">
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Normal</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_normal_unchecked">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_normal_unchecked" name="checkbox_normal_unchecked" />
                            <div class="o-checkbox__label">
                                <span class="o-checkbox__icon"></span>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </div>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Normal checked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_normal">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_normal" name="checkbox_normal" checked />
                            <div class="o-checkbox__label">
                                <span class="o-checkbox__icon"></span>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </div>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Disabled unchecked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_disabled">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_disabled" name="checkbox_disabled" disabled />
                            <div class="o-checkbox__label">
                                <span class="o-checkbox__icon"></span>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </div>
                        </label>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 class="o-title o-title--h5">Disabled checked</h3>
                    </header>
                    <div>
                        <label class="o-checkbox" for="checkbox_disabled_checked">
                            <input class="o-checkbox__ipt" type="checkbox" id="checkbox_disabled_checked" name="checkbox_disabled_checked" disabled checked />
                            <div class="o-checkbox__label">
                                <span class="o-checkbox__icon"></span>
                                <span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
                            </div>
                        </label>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>