<section class="ns-box" id="typography">
    <header class="ns-box__header">
        <h2 class="ns-box__title">Typography</h2>
    </header>
    <div class="grid">
        <div class="col-12">
            <div class="ns-box__container">
                <p class="o-title o-title--h1">h1. Ninja seed heading</p>
                <p class="o-title o-title--h2">h2. Ninja seed heading</p>
                <p class="o-title o-title--h3">h3. Ninja seed heading</p>
                <p class="o-title o-title--h4">h4. Ninja seed heading</p>
                <p class="o-title o-title--h5">h5. Ninja seed heading</p>
                <p class="o-title o-title--h6">h6. Ninja seed heading</p>
                <p class="o-title">Paragraph - Ninja seed heading</p>
                <a class="o-title o-title--link" href="/" title="a. project seed heading">Link - Ninja seed heading</a>
            </div>
        </div>
    </div>
</section>